* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #EAEFEF;
    --secondary-color: #ced2d4;

}

.wrapper {
    min-height: 100vh;
    background-color: var(--primary-color);
    color: black;
}

.SignupBg {
    background-color: var(--secondary-color);
    max-width: 900px;
    width: 100%;
}

.signup-card {

    border-radius: 16px;
    border: none;
    transition: transform 0.3s ease;
}

.signup-card:hover {
    transform: translateY(-5px)
}

.signup-card .form-control {
  border-radius: 12px;
  border: 1px solid #ced4da;
  padding: 0.75rem 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-card .form-control:focus {
  outline: none;
  border-color: #0c53bd;
  box-shadow: 0 0 0 1px #0d6efd;
}
